/*
/ Задает основную цветовую схему приложения
*/

/*
Основной цыет схемы
*/
$frontColor: #4460ff;

/*
Дополнительный цвет схемы
*/
$frontColor1: #9d7fff;

/*
Основной цвет фона
*/
$backColor: #fff;

/*
Цвет текста
*/
$textColor: #999;

/*
Цвет текста ошибки
*/
$errColor: #ff6044