@charset "UTF-8";
@import "./const/color.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    height: 100vh;
}

body {
    background: lighten($textColor, 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    //height: 100vh;
    color: $textColor;
    gap: 20px;
}


/*
footer {
    background-color: $textColor;
    color: $backColor;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;

    p {
        margin: 10px 0;
    }

    i {
        color: $frontColor;
    }

    a {
        color: $textColor;
        text-decoration: none;
    }
}
*/
h1,
h2 {
    font-weight: bold;
    margin: 15px;
    text-align: center;
}

h1 {
    font-size: 170%;
}

h2 {
    font-size: 140%;
}

p {
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.msgFrame {
    background-color: $backColor;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    padding: 20px;
    margin: 20px;
}